---
layout: default
---

{% if paginator.page == 1 %}
  <div class="post-list" style="width:100%;max-width:100%">
    {% for post in paginator.posts limit: 4 %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="thumb-big">
        <figure>
          <img src="{{ post.image }}" />
          <figcaption>
            <h3>
              {{ post.title }}
            </h3>
          </figcaption>
        </figure>
      </a>
    {% endfor %}
  </div>

  <div class="wrapper">
    <div class="post-medium-list">
      {% for post in paginator.posts limit: 12 offset: 4 %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="thumb-medium">
            <img src="{{ post.image }}" />
          </div>
          <h2>
            {{ post.title }}
          </h2>
          <br>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
  {% else %}

  <div class="wrapper">
    <div class="post-medium-list">
      {% for post in paginator.posts limit: 12 %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="thumb-medium">
            <img src="{{ post.image }}" />
          </div>
          <h2>
            {{ post.title }}
          </h2>
          <br>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- 
    {% if paginator.page == 1 and forloop.index < 5 %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="thumb-big">
        <h1>first</h1>
        <img src="{{ post.image }}" />
        <h3>
          {{ post.title }}
        </h3>
      </a>
    {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="thumb-small">
        <h1>not first</h1>
        <img src="{{ post.image }}" />
        <h3>
          {{ post.title }}
        </h3>
      </a>
    {% endif %}
     -->

{% if paginator.total_pages > 1 %}
<div class="pagination wrapper">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="current">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}



<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

