---
layout: default
---

<div class="post-list">
  {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
<!--       {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img {{ html }} />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %} -->
      <img src="{{ post.image }}" />

      <h3>
        {{ post.title }}
      </h3>

      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
    </a>
  {% endfor %}
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

