---
layout: default
---
<article itemscope itemtype="http://schema.org/Recipe" class="wrapper">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • 
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>, в 
            <span itemprop="recipeCategory">
                {% for category in page.categories %}
                    <span>{{ category | newline_to_br | replace: '<br />', '</span><span>' }}</span>
                {% endfor %}
            </span>
        </p>
    </header>
    <div class="post-main">
        
        <img src="{{ page.image }}" class="post-header-image" />

        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>

        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '{{ page.permalink | prepend: "https://aurelias-kitchen.com" }}';
                this.page.identifier = {{ page.dsq_thread_id }} || '';
            };
            (function() {
            var d = document, s = d.createElement('script');
            s.src = '//aurelias-kitchen.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>

    </div>

    <div class="post-aside">
        <table class="recipe-details">
            <tr>
                {% if page.servings %}<td>{{ page.servings }}</td>{% endif %}
                {% if page.preparation_time %}<td>{{ page.preparation_time }}′</td>{% endif %}
                {% if page.cooking_time %}<td>{{ page.cooking_time }}′</td>{% endif %}
            </tr>
            <tr>
                {% if page.servings %}<td>порции</td>{% endif %}
                {% if page.preparation_time %}<td>време за подготовка</td>{% endif %}
                {% if page.cooking_time %}<td>време за готвене</td>{% endif %}
            </tr>
        </table>

        <div class="note-wrapper">
            <div class="note-content">
                <h2>Продукти</h2>
                <div>
                    {% for word in page.ingredients %}<label itemprop="ingredients"><input type="checkbox" /><div>{{ word | newline_to_br | replace: '<br />', '</div></label><label itemprop="ingredients"><input type="checkbox" /><div>' }}</div></label>{% endfor %}
                </div>
                {% if page.author %}
                    <h2>{{ page.additional }}</h2>
                    <div>
                        {% for word in page.additional_ingredients %}<label itemprop="ingredients"><input type="checkbox" /><div>{{ word | newline_to_br | replace: '<br />', '</div></label><label itemprop="ingredients"><input type="checkbox" /><div>' }}</div></label>{% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="actions">
            <a class="button print" href="javascript:window.print()" onClick="_gaq.push(['_trackEvent', 'Click', 'Print', '{{page.title}}']);">Принтирай рецептата</a>
            <div class="share-widget">
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" data-font="arial"></div>
            </div>
            <div class="share-widget">
                <a data-pin-config="beside" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
            </div>
        </div>
    </div>
</article>
